/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* body,html {
    height: 100vh;
    overflow: hidden;
} */

a {
    text-decoration: none;
    color: #fff;
}

/* section {
    height: 100vh;
    padding: 2rem 0 0;
    background: rgb(201, 174, 25);
} */

/* .heading {
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #333;
    position: relative;
    display: none;
}

.heading:after {
    content: "";
    width: 10rem;
    height: .8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
} */

/* .card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
} */

.card {
    width: 100%;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 2rem 0; */
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
}

.card .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
}

.card .profile-img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border: .5rem solid #ebeef8;
}

.card h1 {
    font-size: 2rem;
    color: #333;
    margin: 1rem 0;
}

.job-title {
    color: #777;
    font-size: 1rem;
    font-weight: 300;
}

.about {
    font-size: 1rem;
    margin: 1rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}

.card .btn {
    padding: 1rem 2.5rem;
    background-color: #445ae3;
    border-radius: 2rem;
    margin: .6rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
}

.card .btn:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem rgba(0,0,0,0.2);
}

.card .btn:active {
    transform: translateY(0);
    box-shadow: none;
}

.social-media {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1rem;
    border-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.social-media 1 {
    font-size: 2rem;
}