* { padding: 0; margin: 0; }

#lay {
    display: grid;
    grid-template-areas: "header header" "nav nav" "article aside" "footer footer";
    grid-template-rows: 15vh 10vh 55vh 20vh;
}

.main-header { grid-area: header; background-color: aquamarine; }
.main-nav { grid-area: nav;background-color: red; }
.main-content { grid-area: article;background-color: yellow; }
.main-aside { grid-area: aside;background-color: brown; }
.main-footer { grid-area: footer;background-color: purple; }

/* Criando Breakpoint */
@media screen and (max-width: 768px){
    #lay {
        grid-template-areas: "header" "article" "aside" "footer";
    }
    .main-nav { grid-area: header; margin-bottom: 10px; }
}