:root {
    --cor-green: #6B8E23;
    --cor-grey: #333;
    --cor-black: #000;
    --bg-card: #f4f4f4;
    --gradient-color: linear-gradient(var(--cor-grey), var(--cor-black));
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    background: url('../img/hsnunes-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--cor-grey);
}

.vcard-body {
    max-width: 468px;
    width: 100%;
    margin: 45px auto;
    background: var(--bg-card);
    padding: 45px;
    border-top: 6px solid var(--cor-green);
}

.vcard-profile-img {
    width: 200px;
    margin: 0 auto;
}

.profile-img {
    width: 100%;
    border-radius: 100%;
}

.profile-name {
    padding-top: .5rem;
    text-align:center;
    font-weight: bold;
    font-size: 30px;
    color: var(--cor-green);
}
.profile-title-color {
    color: #08aeac;
}

.profile-subtitle {
    text-align: center;
    /* font-size: 20px; */
    /* font-weight: bold; */
}
.vcard-divisor {
    color: var(--cor-green);
    margin: 1rem 0;
}

.vcard-profile-description-text {
    text-align: center;
    padding-bottom: .5rem;
}

.vcard-profile-description-contact {
    text-align: center;
    border-radius: 5px;
    padding: .5rem;
    background: var(--cor-grey);
    color: #fff;
}
.vcard-profile-description-contact p {
    font-size: .8em;
    font-weight: bold;
}

.vcard-footer {
    margin-top: 20px;
    text-align: center;
}

.footer-icon {
    color: #333;
    font-size: 16px;
}

.flex {
    display: flex;
}
.justify-center {
	justify-content: center;
}
.space-around {
	justify-content: space-around;
}