
body {
    background: url('../img/hsnunes-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333;
}

.vcard-body {
    max-width: 468px;
    width: 100%;
    margin: 80% auto;
    background: #f4f4f4;
    padding: 45px;
    border-top: 6px solid #08aeac;
}

.vcard-profile-img {
    width: 200px;
    margin: 0 auto;
}

.profile-img {
    width: 100%;
    border-radius: 100%;
}