
/* ==== Goggle Fontes ==== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* ==== VARIABLES CSS ==== */
:root {
    --header-height: 3rem;

    /* ==== Collors ==== */
    --first-collor: #3554F4;
    --dark-collor: #070D1F;
    --dark-collor-alt: #282D3A;
    --white-collor: #E6E7E9;

    /* ==== Fonts tipography ==== */
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* ==== Z Index ==== */
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/* ==== BASE ==== */


/* ==== HEADER ==== */